@model IEnumerable<panda4.Models.KomputerModel>

@{
    ViewData["Title"] = "Nasze komputery";
}

<h2>Nasze komputery</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KartaGraficzna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlytaGlowna)
            </th>
            @*<th>
                Ocena
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataProdukcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KartaGraficzna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlytaGlowna)
            </td>
            @*<td>
              
                 @Html.DisplayFor(modelItem => item.sredniaOcena)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.KomputerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KomputerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KomputerID">Delete</a> |
                <a asp-action="Create" asp-controller="Rezerwacja" asp-route-id="@item.KomputerID">Rezerwuj</a> 
            </td>
        </tr>
        }
    </tbody>
</table>
