@model panda4.Models.UzytkownicyModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UzytkownicyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CzyAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CzyAdmin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wypozyczone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wypozyczone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UzytkownikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
